footer {
  text-align: center;
  color: aliceblue;
  background: rgb(44, 44, 44);
  margin-bottom: 0px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box ;
  overflow: hidden ,
}

footer h3 {
  font-size: medium;
}
footer p {
  color: aliceblue;
  font-size: 10px;
}

footer img {
  padding: 8px;
}

.socialmedia {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px 0;
}

.icons {
  color: #a831e4;
  font-size: 30px; /* ajuste la taille des icônes */
  cursor: pointer;
  transition: color 0.3s ease;
}

.icons:hover {
  color: #6f1ab4; /* effet au survol */
}
