footer {
  text-align: center;
  color: aliceblue;
  background: rgba(23, 31, 46, 1);
  margin-bottom: 0px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box ;
  overflow: hidden ,
}

footer h3 {
  font-size: medium;
}
footer p {
  color: aliceblue;
  font-size: 10px;
}

footer img {
  padding: 8px;
}

.socialmedia {
  padding: 10px 10px;
}
