footer {
  text-align: center;
  color: aliceblue;
  background: rgb(44, 44, 44);
  margin-bottom: 0px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box ;
  overflow: hidden ,
}

footer h3 {
  font-size: medium;
}
footer p {
  color: aliceblue;
  font-size: 10px;
}

footer img {
  padding: 8px;
}

.socialmedia {
  padding: 10px 10px;
  width: 100px;
  margin-right: 10px;
  color: #a831e4; /* Optional: Change icon color */
  
}
