nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    background-color: #181818;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-logo img {
    width: 120px;
    padding-left: 20px;
    cursor: pointer;
}

.fullscreen-menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
    padding-right: 40px;
    margin: 0;
}

.fullscreen-menu ul li {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
    transition: color 0.3s ease;
}

.fullscreen-menu ul li:hover {
    color: #ba31ff;
}

@media (max-width: 800px) {
    .burger-menu {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        padding: 10px;
        z-index: 1001; /* Ensure it stays above the menu */
    }

    .burger-menu .bar {
        width: 30px;
        height: 4px;
        background-color: white;
        margin: 3px 20px;
        transition: 0.3s;
    }

    .fullscreen-menu {
        position: fixed;
        top: -100%; /* Start above the viewport */
        left: 0;
        width: 100%;
        height: 230px;
        background: #181818;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        transition: top 0.5s ease-in-out; /* Animate the top property */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        z-index: 1000;
    }
    
    .fullscreen-menu.menu-open {
        top: 80px; /* Slide down to this position */
    }
    
    .fullscreen-menu ul {
        flex-direction: column;
        gap: 20px;
        padding: 0;
        width: 100%;
        margin: 0;
    }
    
    .fullscreen-menu ul li {
        font-size: 18px;
        width: 100%;
        padding: 8px 0;
        border-bottom: 2px solid white;
        list-style: none;
    }

}

/* Large screen styles remain the same */
@media (min-width: 801px) {
    .burger-menu {
        display: none !important;
    }

    .fullscreen-menu {
        display: flex !important;
        position: static;
        height: auto;
        width: auto;
        background: none;
        box-shadow: none;
        transition: none;
    }

    .fullscreen-menu ul {
        flex-direction: row;
        gap: 30px;
    }
}