.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  filter: brightness(0.5);
}

.slider-wrapper {
  width: 80%; /* Adjust width as needed */
  max-width: 1200px; /* Maximum width */
}

.slide {
  background: #f5f5f5;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  height: 200px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/* Center slick arrows */
.slick-prev {
  left: -40px;
}
.slick-next {
  right: -40px;
}


.slider-wrapper img{
  max-height: 140px;
  background: #ffffff;
}

.slick-dots{
  display: none !important;
}

@media (max-width: 800px) {
  .dual-sliders {
    gap: 15px;
    width: 100%;
  }

  .slide {
    max-height: 300px;
  }

  select {
    margin-top: 30px;
    width: 45%;
  }

  .custom-video {
    max-width: 85%;
    max-height: 600px;
    border-radius: 20px;
    }
}