h1 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: rgba(62, 171, 222, 1);
  text-transform: uppercase;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

h1::before,
h1::after {
  content: "———";
  color: rgba(62, 171, 222, 1);
}

.partner-table {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  border-collapse: collapse;
}

.partner-cell {
  border: 1px solid #000;
  padding: 15px;
  text-align: center;
  vertical-align: middle;
}

.partner-logo {
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
}


@media (max-width: 800px) {
  
  .partner-logo {
    width: 100px;
    height: 100px;
  }

  .partner-cell {
    padding: 15px;
  }
}
