h1 {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: rgba(62, 171, 222, 1);
  text-transform: uppercase;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: relative;
}

h1::before,
h1::after {
  content: "";
  flex-grow: 1;
  height: 3px; /* Line thickness */
  background-color: rgba(62, 171, 222, 1);
  max-width: 200px; /* Maximum line length */
}

p {
  text-align: center;
  font-size: 16px;
  color: #444;
  max-width: 700px;
  margin: 0 auto 30px;
}

.icones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  color: white;
  flex-wrap: wrap; /* Allow icons to wrap when needed */
}

.ic {
  flex: 1 1 300px; 
  max-width: 300px; 
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.ic img {
  width: 70px;
  max-width: 100px; 
  margin-bottom: 10px;
}

.ic h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.ic p {
  font-size: 19px;
  color: #ddd;
  width: 250px;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

@media screen and (max-width: 800px) {
  h1 {
    font-size: 24px; 
  }

  h1::before,
  h1::after {
    content: "";
    flex-grow: 1;
    height: 0px; 
    background-color: rgba(62, 171, 222, 1);
    max-width: 0px; 
  }

  p {
    width: 80%;
  }

  .ic {
    max-width: 300px; 
    margin-bottom: 15px; 
  }

  .ic img {
    padding-top: 10px;
    width: 60px; 
  }

  .ic h3 {
    font-size: 20px;
  }

  .ic p {
    font-size: 18px; 
    width: 80%; 
  }
}
