h1 {
  color: rgba(62, 171, 222, 1);
  font-size: 24px;
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

h1::before,
h1::after {
  content: "";
  flex-grow: 1;
  height: 5px; 
  background-color: rgba(62, 171, 222, 1);
  width: 200px;
}
  
  h2 {
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    text-transform: uppercase;
    text-align: center;
  }
  
  .category-select {
    width: 70%;
    padding: 8px;
    font-size: 16px;
    margin: 10px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .category-title{
    text-align: left;
    color: rgba(62, 171, 222, 1);
  }  
  /* Conteneur des vidéos */
  .videos-container {
    width: 90%;
    margin: auto;
  }
  
  /* Grille des vidéos */
  .videos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}

  
  .video-item video {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  .video-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    font-size: 20px;
    color: rgba(62, 171, 222, 1);
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  @media (max-width: 800px) {
    .videos-grid {
        grid-template-columns: 1fr; 
    }
}